<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />
    <!-- WorkManager's optional foreground path is unused by our short recovery worker. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:node="remove" />
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="false"
        android:label="Hamster Cage"
        android:icon="@drawable/ic_hamster"
        android:roundIcon="@drawable/ic_hamster"
        android:supportsRtl="true"
        android:theme="@style/Theme.HamsterCage">
        <service android:name="androidx.work.impl.foreground.SystemForegroundService" tools:node="remove" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".location.GeofenceReceiver" android:exported="false" />
        <receiver android:name=".location.RecoveryReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
